<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="user" class="org.springframework.springlearn.entity.User">
		<property name="id" value="1"/>
		<property name="name" value="user_xml"/>
		<property name="age" value="0"/>
		<!--properties 使用自定义的类型转换 -->
		<property name="properties">
			<value>
				k1 = v1
				k2 = v2
			</value>
		</property>
		<property name="extInfo" ref="userExtInfo"/>
	</bean>

	<util:properties id="userExtInfo">
		<prop key="curCity">上海</prop>
		<prop key="work">Coder</prop>
	</util:properties>

	<!--将自定义的ConditionalGenericConverter注册为bean-->
	<bean id="propertiesToStringConverter"
		  class="org.springframework.springlearn.conversion.converter.converter.PropertiesToStringConverter"/>

	<!--将-->
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters" ref="propertiesToStringConverter"/>
	</bean>
</beans>